.header {
  padding: 12px 11px 6px 11px;
  position: fixed;
  width: 100%;
  background-color: #f4e8e4;
  z-index: 3;
  box-shadow: 0 2px 4px 0 rgba(80, 35, 20, 0.1);
}

.header__container {
  max-width: 1176px;
  margin: 0 auto;
  padding: 0 24px;
}

.header__nav {
  gap: 24px;
  display: flex;
  align-items: center;
}

.header__nav_logo_container {
  width: 150px;
}

.header__nav_logo {
  height: 48px;
}

.header__nav_list {
  flex: 1;
}

.header__nav_links {
  display: flex;
}

.header__nav_item {
  display: flex;
  align-items: center;
  width: max-content;
  padding: 8px 14px;
  border-radius: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #3C3C3B;
  text-decoration: none;
  white-space: nowrap;
}

.header__nav_end {
  display: flex;
  justify-content: center;
}

.header__session {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__session_user {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  background-color: #5023140f;
  padding: 8px 12px;
  border-radius: 32px;
}

.header__dropdown {
  // display: none !important;
}

.header__dropdown_menu {
  :global(.ant-dropdown-menu) {
    padding: 8px 14px !important;
    background-color: #f4e8e4 !important;
  }
}

.header__session_menu {
  cursor: pointer;
  display: flex;
  margin: 0 5px;
  padding: 8px;
  border: none;
  border-radius: 50%;
  background-color: transparent;

  svg {
    background-color: transparent;
  }
}

.header__button {
  border-radius: 32px;
  padding: 6px 12px;
  background: 0 0;
  border: none;
}

.header__button_login {
  font-weight: 700;
  cursor: pointer;
  color: white;
  border-radius: 32px;
  padding: 12px;
  border: none;
  background-color: #a92b3c;

  &:hover {
    background-color: #c94f64;
  }
}

.header__button_menu {
  display: none;
  margin: 0 5px;
  padding: 8px;
  border: none;
  border-radius: 50%;
  background-color: transparent;

  &:hover {
    transition: opacity .2s cubic-bezier(.4, 0, .6, 1);
    background: rgba(80, 35, 20, 0.06);
    opacity: 1;
  }

  svg {
    background-color: transparent;
  }
}

.header__button_content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__button_icon {
  height: 24px;
}

@media (max-width: 1200px) {
  .header__nav {
    gap: 0;
    justify-content: space-between;
  }

  .header__nav_list {
    display: none;
  }

  .header__button_menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__dropdown {
    display: none !important;
  }

  .header__nav_logo_container {
    width: auto;
  }
}

@media (max-width: 768px) {
  .header__button {
    display: none;
  }
}

@media (max-width: 480px) {
  .header__container {
    padding: 0;
  }
}