.slider__list_item {
  padding: 16px 0;
  font-size: 17px;
}

.slider__list_item_plus {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
  background-color: #a92b3c;

  position: absolute;
  top: 30px;
  right: 12px;
  z-index: 4;
}

.slider__list_item_price {
  color: #f4e8e4;
  background-color: #A92B3C;
  position: absolute;
  bottom: 12px;
  left: 12px;
  padding: 4px;
  font-size: 14px;
  border-radius: 8px;
  font-weight: 600;
}

.slider__list_item_image {
  position: relative;
  height: 240px;
  border-radius: 16px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__list_item_text {
  padding: 16px 0;
  font-size: 17px;
}