.categories__container {
  max-width: 1176px;
  padding: 0 24px;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: #f4e8e4;
}

.categories__wrapper {}

.categories__start {
  position: relative;
  max-height: 64px;
  padding: 24px 0;
  transition: all 175ms ease-in;
  overflow: hidden;
}

@media (max-width: 768px) {
  .categories__container {
    padding: 0px
  }
}