@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;400;600;700;800&display=swap');

* {
  font-family: 'Encode Sans', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #3C3C3B;
  background-color: #f4e8e4;
}

a {
  color: inherit;
  text-decoration: none;
}

.ant-layout-sider {
  display: block;
}

@media (max-width: 992px) {
  .ant-layout-sider {
    display: none;
  }
}

@media print {
  header * {
    display: none;
  }

  .section-not-print,
  #section-not-print * {
    display: none;
    visibility: hidden;
  }

  #section-to-print * {
    visibility: visible;
  }

  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}